<nav class="navbar">
  <h1 class="navbar-logo"><a href="/">Weather</a></h1>
  <button class="navbar-icons">
    <i class="fa-regular fa-bars open-icon"></i>
    <i class="fa-regular fa-xmark close-icon"></i>
  </button>
  <ul class="navbar-items">
    <li class="navbar-item"><a href="/">Home</a></li>
    <li class="navbar-item"><a href="/weather">Weather</a></li>
    <li class="navbar-item"><a href="/about">About</a></li>
  </ul>
</nav>